.header{
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  font-weight: 500;
}

p{
  font-family: 'Lato', sans-serif;
  color: #515151;
}

.negative-comment{
  color: #A00000;
}

.icons{
  color: #27A9AF
}

.main-boxing{
  border: 1px solid #1f5139;
}

.main-boxing-reverse{
  border: 1px solid white;
}

button .btn-standard{
  border: 1px solid #1f5139;
  background-color: none;
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  padding: 2%;
}

button .btn-standard:active{
  background-color:  #1f5139;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 2%;
}

button .btn-reverse{
  border: 1px solid white;
  background-color: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 2%;
}

button .btn-reverse:active{
  background-color:  white;
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  padding: 2%;
}