/* Added by Joann */
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}

/* flexbox formatting */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wide {
  display: inline;
  width: 80%;
  
}

/* -------------------------------------------- */


/* Miguels CSS */
/* Miguels CSS */
.header {
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  font-weight: 500;

}

p {
  font-family: 'Lato', sans-serif;
  color: #515151;
}

.popup{
  background-color: rgba(0,0,0,0.9) !important;
  width: 100% !important;
  height: 100%  !important;
  display: flex;
}

#post-msg{
  color: white;
}

#ty-msg{
  color: white;
}

.negative-comment {
  color: #A00000;
}

.icons {
  color: #27A9AF
}

.main-boxing {
  border: 1px solid #1f5139;
}

.main-boxing-reverse {
  border: 1px solid white;
}

button .btn-standard {
  border: 1px solid #1f5139;
  background-color: none;
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  padding: 2%;
}

button .btn-standard:active {
  background-color: #1f5139;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 2%;
}

button .btn-reverse {
  border: 1px solid white;
  background-color: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 2%;
}

button .btn-reverse:active {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  color: #1f5139;
  padding: 2%;
}


/* Added by Joann for Prototype */
/* nav bar this can be deleted when we dont need the page links on the nav bar */



.nav-links {
  
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 1%;
  width: 100%
}

.nav-li {
  padding: 3px;
}

/* Welcome Page (Home) */
html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
}


.welcome {
  background-image: url("./images/hiking-trail.png");
  background-size: cover;
  width: 60%;
  height: 30rem;
  margin-left: 20%;
  text-align: center;
  padding-top: 1%;
  background-color: rgb(1, 68, 1);

}

.welcome h1, .search-trail h1 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 2%;
}

.welcome h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 3%;
  margin-bottom: 3%;
 

}


.wecome-background{
  background-color: rgb(1, 68, 1);opacity:.75;
  width: 50%;
  margin-left: 25%;
}

.welcome-text {

  width: 90%;
  margin-left: 5%; 
  color: rgb(243, 248, 243);opacity:1;
 
}

.welcome-text h2 {

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 3%; 
}
.app-name {
  border-left: 2px solid rgb(1, 68, 1);
  border-right: 2px solid rgb(1, 68, 1);
  border-bottom: 2px solid rgb(1, 68, 1);
  width: 30%;
  margin-left: 35%;
  color: solid rgb(160, 49, 49);
  font-style: italic;
}

.welcome-text h3  {

  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

.welcome p {

  font-family: 'Oswald', sans-serif;
  font-size: .75rem;
  font-style: italic;
  text-transform: capitalize;
  padding: 1%;
  margin-top: 3%;
  padding-bottom: 3%;
}

.welcome-register {
  padding: 3%;
  /* color: rgb(228, 245, 228); */
}

.welcome-button {
  border: 1px solid #FFFFFF;
  background-color: rgb(1, 68, 1);
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
}


/* Register Form */


 .register-form, .login-form  {
  width: 60%;
  height: 30rem;
  margin-left: 20%;
  text-align: center;
  padding-top: 1%;
  background-color: rgb(1, 68, 1);
  color: #FFFFFF;

 }
 
.button-container {
  padding-top: 2rem;
}

.register-label, .login-label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}
 
.register-input, .login-input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
}
.register-btn, .login-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
}

.logout-btn {
  border: 1px solid #FFFFFF;
  background-color:  rgb(1, 68, 1);
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
  margin-bottom: 3rem;
  justify-content: flex-end;
  align-content: flex-end;
}

 
.register-messages, .login-messages {
  display: flex;
  justify-content: center;
}
 
.register-error, .login-error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.register-success, .login-success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.register h2, .login h2, .search-trail h2 {

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 3%;
  text-align: center;
}

/* Trails */

.search-app {
  color:rgb(1, 68, 1);
  border-left: 2px solid  rgb(1, 68, 1);
  border-right: 2px solid rgb(1, 68, 1);
  border-bottom: 2px solid rgb(1, 68, 1);
  width: 30%;
  margin-left: 35%;
}

.search-trail {
  margin-bottom: 3rem;
}

.srch-trl-ttl {
  margin-top: 2rem;
} 

.search-label {
  font-size: 1.25rem;
  font-weight: bold;
  color:rgb(81, 81, 81);
}

.search-input {
  height: 2rem;
}


.search-button {
  border: 1px solid #FFFFFF;;
  background-color: rgb(1, 68, 1);
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
}


.container {
width: 80%;
margin-left: 15%;
}




.trail-container {
  width: 80%;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-left: 10%;
}
 
.trail-card-img {
  width: 15%;
  margin-right: 5rem;
}

.trail-card {
  justify-content: flex-start;
  width: 45%
}


.card-button {
  border: 1px solid #FFFFFF;;
  background-color: rgb(1, 68, 1);
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
  height: 35%;
 
}

.card-button button {
   
  background-color: rgb(1, 68, 1);
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
}

/* TRAIL DETAILS CSS
**
*/
:root {
    --trail-stats-font-size: 2rem;
}

.trail-details {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.trail-details .detail-hdr,
.trail-details .parking-info h2 {
    font-variant-caps: all-small-caps;
    font-size: 72px;
    text-align: center;
}

.trail-header-section {
    height: 650px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.trail-header-section::before {
    content: '';
    position: absolute;
}

.trail-details .app-name {
    font-size: xx-large;
    text-align: center;
}

.trail-info p {
    color: black;
}

.trail-stats {
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.trail-stats span {
    font-size: var(--trail-stats-font-size);
    padding-right: 2rem;
    background-color: rgba(81, 81, 81, 0.65);
    color: white;
}

.trail-stats span img {
    filter: invert();
    padding-right: 0.5rem;
}

#location-pin,
#trail-distance,
#trail-difficulty {
    height:  var(--trail-stats-font-size);
}